body {
    background: #f9fcf9;
    font-family: "Arial", sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}